body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    background-color: rgb(227, 222, 222);
    margin: 5px 400px;

    border: 5px solid gray;
}

.states {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding: 0PX 10px;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 300px;
    top: 100px;
}

.buttons button {
    width: 40px;
    height: 40px;
}

.best-score {
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 150px;
    top: 400px;

    border: 2px solid gray;
    background-color: #C0C0C0;
}

.ints {
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 200px;
    top: 100px;
}

.ints img {
    width: 27px;
    margin-top: 5px;

}

table {
    border: 2px solid gray;
    margin: auto;
    border-collapse: collapse;
}

.cell {
    border: 2px solid gray;
    background-color: #C0C0C0;

    cursor: pointer;
    width: 30px;
    height: 30px;

    font-weight: bold;
    font-size: 20px;

    transition: box-shadow 0.3s ease;
}

.cell:hover {
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.one {
    color: rgb(36, 36, 150);
}

.two {
    color: rgb(39, 124, 39);
}

.three {
    color: red;
}

.four {
    color: rgb(70, 17, 17);
}

.cell-isClicked {
    border: 2px dashed gray;
    background-color: rgb(227, 222, 222);
}

button,
.smiley {
    cursor: pointer;
}